<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Error</title>

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
        crossorigin="anonymous"/>

        <!-- Favicon -->
        <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>

        <link rel="stylesheet" href="/static/styles/result.css">
    </head>
    <body>
        <div class="main-wrapper">
            <div class="main-card">
                <h1>Error...</h1>
                <span><h3>It seems there was an error with your order,</h3></span>
                <span><h3>If the error persists, please reach out to us for more information!</h3></span>
                <br>
                <br>
                <a href="/">Home</a>
            </div>
        </div>
    </body>
</html>