<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Trophy Heaven</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous"/>

    <!-- CSS Files -->
    <link rel="stylesheet" href="/static/styles/main.css">

    <!-- JS Files -->
    <!-- paypal script -->
    <!-- <script src="https://www.paypalobjects.com/api/checkout.js" defer></script> -->
    <!-- stripe script -->
    <!-- <script src="https://checkout.stripe.com/checkout.js" defer></script> -->
    <!-- main script -->
    <script src="/static/scripts/app.js" defer></script>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar">
        <div class="navbar-center">
            <span class="nav-icon">
                <i class="fas fa-bars"></i>
            </span>
            <img src="/static/images/logo.png" alt="store logo">
            <div class="cart-btn">
                <span class="nav-icon">
                    <i class="fas fa-cart-plus"></i>
                </span>
                <div class="cart-items">0</div>
            </div>
        </div>
    </nav>
    <!-- /navbar-->



    <!-- navsection -->
    <div class="navsection-main">
        <h2>our products</h2>
        <h3 class='nav1'>headgear</h3>
        <h3 class='nav2'>hoodies</h3>
        <h3 class='nav3'>tees & polos</h3>
    </div>
    <!-- navsection -->



    <!-- hero -->
    <header class="hero">
        <div class="banner">
            <h1 class="banner-title">Clothing Collection</h1>
            <span></span>
            <button class="banner-btn">shop now</button>
        </div>
    </header>
    <!-- /hero -->



    <!-- products -->
    <section class="products">
        <div class="section-title">
            <h2>our products</h2>
        </div>
        <br>
        <br>
        <div class="section-title">
            <h5 class="headgear">Headgear</h5>
        </div>
        <div class="products-center1">




        
        </div>
        <br>
        <br>
        <div class="section-title">
            <h5 class="hoodies">Hoodies</h5>
        </div>
        <div class="products-center2">

            


        
        </div>
        <br>
        <br>
        <div class="section-title">
            <h5 class="tees">Tees & Polos</h5>
        </div>
        <div class="products-center3">

            


        
        </div>
    </section>
    <!-- /products -->



    <!-- cart and sidebar -->
    <div class="cart-overlay">
        <div class="cart">
            <span class="close-cart">
                <i class="fas fa-window-close"></i>
            </span>
            <h2>your cart</h2>
            <div class="cart-content">


                
            </div>
            <div class="cart-footer">
                <h3>subtotal : $ <span class="cart-total">0</span></h3>
                <button class="clear-cart banner-btn">clear cart</button>
                <button class="checkout-btn banner-btn">checkout</button>
            </div>
        </div>
    </div>
    <!-- /cart -->



    <!-- checkout -->
    <div class="checkout">
        <span class="close-checkout">
            <i class="fas fa-window-close"></i>
        </span>
        <h2>Checkout</h2>
        <div class="checkout-content">
            <form class="checkout-form" action="payment" method="POST">
                <!-- hack solution to passing data to server -->
                <input type="text" class="hidden-subtotal" name="subtotal">
                <input type="text" class="hidden-cart" name="cart">


                
                <!-- <div>
                    <label for="email">Email:</label><br>
                    <input type="text" class="buyer-email" name="email"><br><br>
                </div> -->
                <div>
                    <label for="fname">First Name:</label><br>
                    <input type="text" class="buyer-fname" name="fname"><br><br>
                </div>
                <div>
                    <label for="lname">Last Name:</label><br>
                    <input type="text" class="buyer-lname" name="lname"><br><br>
                </div>
                <div>
                    <label for="shippingAddress">Shipping Address:</label><br>
                    <input type="text" class="buyer-shippinAddress" name="shippingAddress"><br><br>
                </div>
                <div>
                    <label for="city">City:</label><br>
                    <input type="text" class="buyer-city" name="city"><br><br>
                </div>
                <div>
                    <label for="state">State:</label><br>
                <input type="text" class="buyer-state" name="state"><br><br>
                </div>
                <div>
                    <label for="zip">Zipcode:</label><br>
                <input type="text" class="buyer-zip" name="zip"><br><br>
                </div>
                <br><br>
                
                
                <script
                    src="//checkout.stripe.com/v2/checkout.js"
                    class="stripe-button"
                    data-email=""
                    data-key="<%= key %>" 
                    data-amount="" 
                    data-currency="usd" 
                    data-name="" 
                    data-description=""
                    data-locale="auto" >
                </script> 
            </form>
        </div>
    </div>
    <!-- /checkout -->
</body>
</html>