<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Trophy Heaven</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>

    <!-- CSS Files -->
    <link rel="stylesheet" href="/static/styles/main.css">

    <!-- JS Files -->
    <!-- main script -->
    <script src="/static/scripts/app.js" defer></script>
    
</head>
<body>
    <!-- navbar -->
    <nav class="navbar">
        <div class="navbar-center">
            <span class="nav-icon">
                <i class="fas fa-bars"></i>
            </span>
            <img src="/static/images/logo.png" alt="store logo">
            <div class="cart-btn">
                <span class="nav-icon">
                    <i class="fas fa-cart-plus"></i>
                </span>
                <div class="cart-items">0</div>
            </div>
        </div>
    </nav>
    <!-- /navbar-->



    <!-- navsection -->
    <div class="navsection-main">
        <h2>our products</h2>
        <h3 class='nav1'>headgear</h3>
        <h3 class='nav2'>hoodies</h3>
        <h3 class='nav3'>tees & polos</h3>
    </div>
    <!-- navsection -->



    <!-- main -->
    <header class="main">
        <div class="banner">
            <h1 class="banner-title">Clothing Collection</h1>
            <span><h3>200 West Stanly Street, Stanfield, NC 28163</h3></span>
            <span><h3>trophyheavenllc@gmail.com</h3></span>
            <span>Due to COVID-19 some items may not be available</span>
            <span>Free shipping for purchases over $45.00</span>
            <button class="banner-btn">shop now</button>
        </div>
    </header>
    
    <!-- /main -->



    <!-- products -->
    <section class="products">
        <div class="section-title">
            <h2>our products</h2>
        </div>
        <br>
        <br>
        <div class="section-title">
            <h5 class="headgear">Headgear</h5>
        </div>
        <div class="products-center1">




        
        </div>
        <br>
        <br>
        <div class="section-title">
            <h5 class="hoodies">Hoodies</h5>
        </div>
        <div class="products-center2">

            


        
        </div>
        <br>
        <br>
        <div class="section-title">
            <h5 class="tees">Tees & Polos</h5>
        </div>
        <div class="products-center3">

            


        
        </div>
    </section>
    <!-- /products -->



    <!-- cart and sidebar -->
    <div class="cart-overlay">
        <div class="cart">
            <span class="close-cart">
                <i class="fas fa-window-close"></i>
            </span>
            <h2>your cart</h2>
            <div class="cart-content">


                
            </div>
            <div class="cart-footer">
                <h3>subtotal : $ <span class="cart-total">0</span></h3>
                <button class="clear-cart banner-btn">clear cart</button>
                <button class="checkout-btn banner-btn">checkout</button>
            </div>
        </div>
    </div>
    <!-- /cart -->



    <!-- checkout -->
    <div class="checkout">
        <span class="close-checkout">
            <i class="fas fa-window-close"></i>
        </span>
        <h2>Checkout</h2>

        <div class="ul-payment">
            <ul>
                <li class='ul-payment-card'>Card</li>
                <li class='ul-payment-paypal'>Paypal</li>
            </ul>
        </div>

        <div class="checkout-content-card">
            <form class="checkout-form" action="payment" method="POST">
                <!-- hack solution to passing data to server -->
                <input type="text" class="hidden-total-card" name="totalCard">
                <input type="text" class="hidden-cart-card" name="cartCard">


                <div class='form-wrapper-card'>
                    <br><br>
                    <div>
                        <label for="fname">First Name</label><br>
                        <input type="text" class="buyer-fname" name="fname"><br><br>
                    </div>
                    <div>
                        <label for="lname">Last Name</label><br>
                        <input type="text" class="buyer-lname" name="lname"><br><br>
                    </div>
                    <div>
                        <label for="shippingAddress">Shipping Address</label><br>
                        <input type="text" class="buyer-shippingAddress" name="shippingAddress"><br><br>
                    </div>
                    <div>
                        <label for="city">Town/City</label><br>
                        <input type="text" class="buyer-city" name="city"><br><br>
                    </div>
                    <div>
                        <label for="state">State</label><br>
                    <input type="text" class="buyer-state" name="state"><br><br>
                    </div>
                    <div>
                        <label for="zip">Zipcode</label><br>
                    <input type="text" class="buyer-zip" name="zip">
                    </div>
                    <br><br>

                    <div class="div-checkbox-card">
                        <input 
                        type="checkbox" 
                        class="checkout-card-box1"
                        name="checkbox"
                        onchange="updateCheckoutCard()">
                        <span class="checkbox-span">This order is for the Charlotte Ingersoll Rand Branch</span>
                        <br>
                        <input 
                        type="checkbox" 
                        class="checkout-card-box2"
                        onchange="updateCheckoutCard()">
                        <span class="checkbox-span">I have verified that all of the above information is correct</span>
                        
                        <br>
                        
                        <div class="div-promo" style="margin: 1rem;">
                            <div style="display: flex; justify-content: center; margin: 0.5rem;">
                                <input 
                                type="checkbox" 
                                class="checkout-card-box3"
                                onchange="showHideCardPromoText()">
                                <span class="checkbox-span">Promotional code?</span>
                            </div>
                            <div style="display: flex; justify-content: center; margin: 0.5rem;">
                                <input
                                type="text" 
                                class="promocode-card-text">
                            </div>
                            <div style="display: flex; justify-content: center; margin: 0.5rem;">
                                <input type="button" class="promocode-card-btn" name="promocode-card-btn" value="Apply" onclick="applyPromo()">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="checkout-footer-card">
                    <h3>Shipping : $ <span class="shipping-card">0</span></h3>
                    <h3>Tax : $ <span class="tax-card">0</span></h3>
                    <h3>Total : $ <span class="total-card">0</span></h3>
                </div>
                <br>
                
                <div class="status-div-card">

                    <!-- Swipe Button -->
                    <script
                        src="//checkout.stripe.com/v2/checkout.js"
                        class="stripe-button"
                        data-email=""
                        data-key="<%= key %>" 
                        data-amount="" 
                        data-currency="usd" 
                        data-name="" 
                        data-description="Cart Items"
                        data-locale="auto" >
                    </script>
                </div>
            </form>
        </div>



        <div class="checkout-content-paypal">
            <form class="checkout-form" action="paypal" method="POST">
                <!-- hack solution to passing data to server -->
                <input type="text" class="hidden-total-paypal" name="totalPaypal">
                <input type="text" class="hidden-cart-paypal" name="cartPaypal">


                <div class='form-wrapper-paypal'>
                    <br><br>
                    <div>
                        <label for="email">Email</label><br>
                        <input type="text" class="buyer-fname" name="email"><br><br>
                    </div>
                    <div>
                        <label for="fname">First Name</label><br>
                        <input type="text" class="buyer-fname" name="fname"><br><br>
                    </div>
                    <div>
                        <label for="lname">Last Name</label><br>
                        <input type="text" class="buyer-lname" name="lname"><br><br>
                    </div>
                    <div>
                        <label for="shippingAddress">Shipping Address</label><br>
                        <input type="text" class="buyer-shippingAddress" name="shippingAddress"><br><br>
                    </div>
                    <div>
                        <label for="city">Town/City</label><br>
                        <input type="text" class="buyer-city" name="city"><br><br>
                    </div>
                    <div>
                        <label for="state">State</label><br>
                    <input type="text" class="buyer-state" name="state"><br><br>
                    </div>
                    <div>
                        <label for="zip">Zipcode</label><br>
                    <input type="text" class="buyer-zip" name="zip">
                    </div>
                    <br><br>

                    <div class="div-checkbox-paypal">
                        <input 
                        type="checkbox" 
                        class="checkout-paypal-box1"
                        name="checkbox"
                        onchange="updateCheckoutPaypal()">
                        <span class="checkbox-span">This order is for the Charlotte Ingersoll Rand Branch</span>
                        <br>
                        <input 
                        type="checkbox" 
                        class="checkout-paypal-box2"
                        onchange="updateCheckoutPaypal()">
                        <span class="checkbox-span">I have verified that all of the above information is correct</span>
                        
                        <br>
                        
                        <div class="div-promo">
                            <div style="display: flex; justify-content: center; margin: 0.5rem;">
                                <input 
                                type="checkbox"
                                class="checkout-paypal-box3"
                                onchange="showHideCardPromoText()">
                                <span class="checkbox-span">Promo code?</span>
                            </div>
                            <div style="display: flex; justify-content: center; margin: 0.5rem;">
                                <input 
                                type="text" 
                                class="promocode-paypal-text">
                            </div>
                            <div style="display: flex; justify-content: center; margin: 0.5rem;">
                                <input type="button" class="promocode-paypal-btn" name="promocode-paypal-btn" value="Apply" onclick="applyPromo()">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="checkout-footer-paypal">
                    <h3>Shipping : $ <span class="shipping-paypal">0</span></h3>
                    <h3>Tax : $ <span class="tax-paypal">0</span></h3>
                    <h3>Total : $ <span class="total-paypal">0</span></h3>
                </div>
                <br>

                <input class="email" type="submit" value="Test">
                
            </form>
            <div class="status-div-paypal">
                <!-- PayPal Button -->
                <div style="margin-top: 1rem;" id="smart-button-container">
                    <div style="text-align: center;">
                    <div id="paypal-button-container"></div>
                    </div>
                </div>
            </div>
            
            <!-- Real Creds -->
            <script src="https://www.paypal.com/sdk/js?client-id=AXZZIpFn-xvl4h2NyTF2VsNrRqM7CBM1PMZJslER4Kjh8aGKxcKEnJ-7o7MQh0afATbqJx62qDLYobL8" data-sdk-integration-source="button-factory"></script>
            <!-- Test Creds -->
            <!-- <script src="https://www.paypal.com/sdk/js?client-id=AUa3WSidz8m6zrFewJpzQJZyWQZd5xnkJYQ9K-oVrZuweCDc2ahBmu_bnHu11PfL7aeIrChsXhAAGDno" data-sdk-integration-source="button-factory"></script> -->
            <!-- <script src="https://www.paypal.com/sdk/js?client-id=AUa3WSidz8m6zrFewJpzQJZyWQZd5xnkJYQ9K-oVrZuweCDc2ahBmu_bnHu11PfL7aeIrChsXhAAGDno&disable-funding=credit,card" data-sdk-integration-source="button-factory"></script> -->
        </div>
    </div>
    <!-- /checkout -->
</body>
</html>