<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Trophy Heaven</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>

    <!-- CSS Files -->
    <link rel="stylesheet" href="/static/styles/main.css">

    <!-- JS Files -->
    <!-- main script -->
    <script src="/static/scripts/app.js" defer></script>
    <!-- paypal -->
    <!-- Trophy Heaven-->
    <!-- <script src="https://www.paypal.com/sdk/js?client-id=AXZZIpFn-xvl4h2NyTF2VsNrRqM7CBM1PMZJslER4Kjh8aGKxcKEnJ-7o7MQh0afATbqJx62qDLYobL8&currency=USD" data-sdk-integration-source="button-factory"></script> -->
    <!-- Test -->
    <script src="https://www.paypal.com/sdk/js?client-id=ATm_KrpmsnaEpFMA33DPAGXJGZVGtC_cvm1nkYXZao5jFVHHZxe6oNCpOahdk3mg9AyHi99xuhfAAcN1&currency=USD" data-sdk-integration-source="button-factory"></script>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar">
        <div class="navbar-center">
            <span class="nav-icon">
                <i class="fas fa-bars"></i>
            </span>
            <img src="/static/images/logo.png" alt="store logo">
            <div class="cart-btn">
                <span class="nav-icon">
                    <i class="fas fa-cart-plus"></i>
                </span>
                <div class="cart-items">0</div>
            </div>
        </div>
    </nav>
    <!-- /navbar-->



    <!-- navsection -->
    <div class="navsection-main">
        <h2>our products</h2>
        <h3 class='nav1'>headgear</h3>
        <h3 class='nav2'>hoodies</h3>
        <h3 class='nav3'>tees & polos</h3>
    </div>
    <!-- navsection -->



    <!-- main -->
    <header class="main">
        <div class="banner">
            <h1 class="banner-title">Clothing Collection</h1>
            <span><h3>200 West Stanly Street, Stanfield, NC 28163</h3></span>
            <span><h3>trophyheavenllc@gmail.com</h3></span>
            <span>Due to COVID-19 some items may not be available</span>
            <span>(Free shipping for purchases over $45.00)</span>
            <button class="banner-btn">shop now</button>
        </div>
    </header>
    
    <!-- /main -->



    <!-- products -->
    <section class="products">
        <div class="section-title">
            <h2>our products</h2>
        </div>
        <br>
        <br>
        <div class="section-title">
            <h5 class="headgear">Headgear</h5>
        </div>
        <div class="products-center1">




        
        </div>
        <br>
        <br>
        <div class="section-title">
            <h5 class="hoodies">Hoodies</h5>
        </div>
        <div class="products-center2">

            


        
        </div>
        <br>
        <br>
        <div class="section-title">
            <h5 class="tees">Tees & Polos</h5>
        </div>
        <div class="products-center3">

            


        
        </div>
    </section>
    <!-- /products -->



    <!-- cart and sidebar -->
    <div class="cart-overlay">
        <div class="cart">
            <span class="close-cart">
                <i class="fas fa-window-close"></i>
            </span>
            <h2>your cart</h2>
            <div class="cart-content">


                
            </div>
            <div class="cart-footer">
                <h3>subtotal : $ <span class="cart-total">0</span></h3>
                <button class="clear-cart banner-btn">clear cart</button>
                <button class="checkout-btn banner-btn">checkout</button>
            </div>
        </div>
    </div>
    <!-- /cart -->



    <!-- checkout -->
    <div class="checkout">
        <span class="close-checkout">
            <i class="fas fa-window-close"></i>
        </span>
        <h2>Checkout</h2>
        <div class="checkout-content">
            <form class="checkout-form" action="payment" method="POST">
                <!-- hack solution to passing data to server -->
                <input type="text" class="hidden-total" name="total">
                <input type="text" class="hidden-cart" name="cart">


                <div class='form-wrapper'>
                    <br><br>
                    <div>
                        <label for="fname">First Name</label><br>
                        <input type="text" class="buyer-fname" name="fname"><br><br>
                    </div>
                    <div>
                        <label for="lname">Last Name</label><br>
                        <input type="text" class="buyer-lname" name="lname"><br><br>
                    </div>
                    <div>
                        <label for="shippingAddress">Shipping Address</label><br>
                        <input type="text" class="buyer-shippingAddress" name="shippingAddress"><br><br>
                    </div>
                    <div>
                        <label for="city">Town/City</label><br>
                        <input type="text" class="buyer-city" name="city"><br><br>
                    </div>
                    <div>
                        <label for="state">State</label><br>
                    <input type="text" class="buyer-state" name="state"><br><br>
                    </div>
                    <div>
                        <label for="zip">Zipcode</label><br>
                    <input type="text" class="buyer-zip" name="zip">
                    </div>
                    <br><br>

                    <div class="div-checkbox">
                        <input 
                        type="checkbox" 
                        class="checkout-box1"
                        name="checkbox"
                        onchange="updateCheckout()">
                        <span class="checkbox-span">This order is for the Charlotte Ingersoll Rand Branch</span>
                        <br>
                        <input 
                        type="checkbox" 
                        class="checkout-box2"
                        onchange="updateCheckout()">
                        <span class="checkbox-span">I have verified that all of the above information is correct</span>
                        
                        <br>
                        
                        <!-- <div class="div-promo">
                            <div>
                                <input 
                                type="checkbox" 
                                class="checkout-box3"
                                onchange="">
                                <span class="checkbox-span">Promo code?</span>
                            </div>
                            <div>
                                <input 
                                type="text" 
                                class="promocode-text"
                                onchange="">
                            </div>
                            <div>
                                <input type="button" class="promocode-btn" name="promocode-btn" value="Check">
                            </div>
                        </div> -->
                    </div>
                </div>

                <div class="checkout-footer">
                    <h3>Shipping : $ <span class="shipping">0</span></h3>
                    <h3>Tax : $ <span class="tax">0</span></h3>
                    <h3>Total : $ <span class="total">0</span></h3>
                </div>
                <br>
                
                <div class="status-div">
                    <script
                        src="//checkout.stripe.com/v2/checkout.js"
                        class="stripe-button"
                        data-email=""
                        data-key="<%= key %>" 
                        data-amount="" 
                        data-currency="usd" 
                        data-name="" 
                        data-description="Cart Items"
                        data-locale="auto" >
                    </script>
                </div>
            </form>


            <div style="margin-top: 1em; display: flex; align-items: center; justify-content: center;"><span>-- OR --</span></div>


            <!-- <div style="margin-top: 1em;" id="smart-button-container">
                <div style="text-align: center;">
                  <div id="paypal-button-container"></div>
                </div>
            </div> -->
            <div id="smart-button-container">
                <div style="text-align: center;">
                    <label for="description"> </label>
                    <input type="text" name="descriptionInput" id="description" maxlength="127" value="">
                </div>
                  <p id="descriptionError" style="visibility: hidden; color:red; text-align: center;">Please enter a description</p>
                <div style="text-align: center;">
                    <label for="amount"> </label>
                    <input name="amountInput" type="number" id="amount" value="" >
                    <span> USD</span>
                </div>
                  <p id="priceLabelError" style="visibility: hidden; color:red; text-align: center;">Please enter a price</p>
                <div id="invoiceidDiv" style="text-align: center; display: none;">
                    <label for="invoiceid"> </label>
                    <input name="invoiceid" maxlength="127" type="text" id="invoiceid" value="" >
                </div>
                  <p id="invoiceidError" style="visibility: hidden; color:red; text-align: center;">Please enter an Invoice ID</p>
                <div style="text-align: center; margin-top: 0.625rem;" id="paypal-button-container"></div>
            </div>
        </div>
    </div>
    <!-- /checkout -->





    



    
    <script>
      function initPayPalButton() {
        var description = document.querySelector('#smart-button-container #description');
        var amount = document.querySelector('#smart-button-container #amount');
        var descriptionError = document.querySelector('#smart-button-container #descriptionError');
        var priceError = document.querySelector('#smart-button-container #priceLabelError');
        var invoiceid = document.querySelector('#smart-button-container #invoiceid');
        var invoiceidError = document.querySelector('#smart-button-container #invoiceidError');
        var invoiceidDiv = document.querySelector('#smart-button-container #invoiceidDiv');
    
        var elArr = [description, amount];
    
        if (invoiceidDiv.firstChild.innerHTML.length > 1) {
          invoiceidDiv.style.display = "block";
        }
    
        var purchase_units = [];
        purchase_units[0] = {};
        purchase_units[0].amount = {};
    
        function validate(event) {
          return event.value.length > 0;
        }
    
        paypal.Buttons({
          style: {
            color: 'blue',
            shape: 'rect',
            label: 'paypal',
            layout: 'vertical',
            
          },
    
          onInit: function (data, actions) {
            actions.disable();
    
            if(invoiceidDiv.style.display === "block") {
              elArr.push(invoiceid);
            }
    
            elArr.forEach(function (item) {
              item.addEventListener('keyup', function (event) {
                var result = elArr.every(validate);
                if (result) {
                  actions.enable();
                } else {
                  actions.disable();
                }
              });
            });
          },
    
          onClick: function () {
            if (description.value.length < 1) {
              descriptionError.style.visibility = "visible";
            } else {
              descriptionError.style.visibility = "hidden";
            }
    
            if (amount.value.length < 1) {
              priceError.style.visibility = "visible";
            } else {
              priceError.style.visibility = "hidden";
            }
    
            if (invoiceid.value.length < 1 && invoiceidDiv.style.display === "block") {
              invoiceidError.style.visibility = "visible";
            } else {
              invoiceidError.style.visibility = "hidden";
            }
    
            purchase_units[0].description = description.value;
            purchase_units[0].amount.value = amount.value;
    
            if(invoiceid.value !== '') {
              purchase_units[0].invoice_id = invoiceid.value;
            }
          },
    
          createOrder: function (data, actions) {
            return actions.order.create({
              purchase_units: purchase_units,
            });
          },
    
          onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
              alert('Transaction completed by ' + details.payer.name.given_name + '!');
            });
          },
    
          onError: function (err) {
            console.log(err);
          }
        }).render('#paypal-button-container');
      }
      initPayPalButton();
      </script>




      
</body>
</html>