<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Success</title>

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
        crossorigin="anonymous"/>

        <link rel="stylesheet" href="/static/styles/result.css">
    </head>
    <body>
        <div class="main-wrapper">
            <div class="main-card">
                <h1>Success!</h1>
                <span><h3>Thank you for your purchase,</h3></span>
                <span><h3>A confirmation email has been sent to the address specified.</h3></span>
                <br>
                <span>If you do not receive an email, contact us <br> and we will be able to confirm an order number</span><br>
                <br>
                <br>
                <a href="/">Home</a>
            </div>
        </div>
    </body>
</html>